@media screen and (max-width: 670px){
    .btn_content {
        width: 65% !important;
    }
}

@media screen and (max-width: 530px){
    .btn_content {
        width: 75% !important;
    }
    .main{
        display: block !important;
        overflow-y: scroll !important;
    }
}

@media screen and (max-width: 450px){
    .btn_content {
        width: 95% !important;
    }
    .h2{
        font-size: 2.4rem !important;
    }
    .p{
        font-size: 1.2rem !important;
    }
}